@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

@import 'tailwindcss';

@custom-variant hover (&:hover);

@theme {
  --font-inter: 'Intera', sans-serif;
  --font-jua: 'Jua', sans-serif;

  --animate-infinite-scroll: infinite-scroll 5s linear infinite;

  @keyframes infinite-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

html,
body {
  overflow-x: hidden;
}

html {
  /* scrollbar-gutter: stable; */
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body {
  /* Prevent navbar from overlapping content */
  /* margin-top: 4rem; */

  @apply font-inter;
}

.nav-space {
  padding-top: 5.5rem;
  margin-top: -5.5rem;
}

.markdown-body {
  text-align: justify;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  color: var(--color-orange-600);
  /* @apply text-orange-600; */
}

.markdown-body li {
  list-style: disc;
}

.markdown-body a {
  color: var(--color-orange-600) !important;
  text-decoration: underline !important;
}
