@import 'tailwindcss';

@custom-variant hover (&:hover);

@theme {
  --animate-infinite-scroll: infinite-scroll 5s linear infinite;

  @keyframes infinite-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

html {
  /* scrollbar-gutter: stable; */
  scrollbar-width: thin;
}

body {
  /* Prevent navbar from overlapping content */
  margin-top: 4rem;
  overflow-x: hidden;
}
