@import 'tailwindcss';

@custom-variant hover (&:hover);

html {
  /* scrollbar-gutter: stable; */
  scrollbar-width: thin;
}

body {
  /* Prevent navbar from overlapping content */
  margin-top: 4rem;
  overflow-x: hidden;
}
